# for ml features
keras
mediapipe
numpy
tensorflow
pandas
scikit-learn

# for input feed(in streamlit)
opencv_contrib_python
opencv_python


# for generating the poc
streamlit
tqdm

# for notebooks
ipykernel